.nav li:hover {
  background: silver;
}

#left-arrow:hover, #right-arrow:hover {
  background: #E2E3DF;
  cursor: pointer;
}
.nav {
  background: #E2E3DF;
}

body {
  color: #595241;
  background: url('../img/back.jpg');
}

.container {
  background: #DBDBDB;
  /*height: 150%;*/
}

.container-fluid {
  background: #CCCBC9;
}

.navbar-header .navbar-brand {
  color: #DBDBDB;
  background: #2E3233;
  margin-bottom: 0;
}

.container .main {
  padding-bottom: 20px;
}

#sicons {
  float: right;
}
