<div class="container">

  <nav class='navbar navbar-default' role='navigation'>
    <ul class="nav navbar-nav">
      <li>{{#link-to 'home'}}Posts{{/link-to}}</li>
      <li>{{#link-to 'home'}}About{{/link-to}}</li>
      <li>{{#link-to 'home'}}Contact{{/link-to}}</li>
    </ul>
  </nav>
  {{outlet}}
</div>
