<h1>Dog Wears Sunglasses</h1>
<p>Today in the news a dog wore sunglasses. Everyone who saw him thought he was so cool. They must have been very expensive sunglasses but he was very careful not to break them. </p>
