<h1>Terrifying Clown Appears in Movie Intended for Children</h1>
<p>
  For whatever reason whoever made the popular children's film Air Bud thought it would be a good idea to include this horrifying clown. It follows me into my dreams and I wake drenched in sweat. All I ever wanted was to see a dog play various sports and I got this horrible clown instead.
</p>
